.App {
  text-align: center;
}
body {
  margin: 0;
}

.Nav-Bar {
  background-color: #b8d1e8;
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  text-transform: uppercase;
  overflow: hidden;
}

.page {
  height: 100vh;
}

.Landing-Page {
  background-color: #f6f3f3;
}

.Overview {
  background-color: #f6f3f3;
}

.Financial-Literacy {
  background-color: #f6f3f3;
}

.Resource-Hub-Finder {
  background-color: #f6f3f3;
}

.Email-Module {
  background-color: #f6f3f3;
}

.About-Us {
  background-color: #f6f3f3;
}

.Login {
  align-items: center;
  background-color: #0a66c2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.navigation {
  display: flex;
  list-style-type: none;
}

.parent {
  padding: 0 20px;
  cursor: pointer;
}

.link {
  font-size: 20px;
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Rationale&display=swap");

body {
  font-family: "Rationale";
}
.container {
  width: 1080px;
  margin: 0 auto;
}

section {
  padding: 10em 4em;
}

.hero .container {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.right-col {
  width: 30%;
  margin-right: 8em;
}

.bottom {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-left: 0.75em;
}

.bottom:after {
  content: "";
  display: inline-block;
  padding-left: 30px;
  margin-top: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#div1 {
  height: 300px;
  width: 300px;
  background-color: white;
  margin: 0;
}
#div2 {
  height: 300px;
  width: 300px;
  background-color: white;
  position: relative;
  left: 320px;
  bottom: 300px;
}
#div3 {
  height: 300px;
  width: 300px;
  background-color: white;
  position: relative;
  bottom: 280px;
}
#div4 {
  height: 300px;
  width: 300px;
  background-color: white;
  position: relative;
  left: 320px;
  bottom: 580px;
}
